


/*@media only screen and (max-width: 1024px){
    .escritorio{
        display: none; 
}*/
@media only screen and (max-width: 768px){
    .escritorio{
        display: none;    
    }

nav{
    
    background: #434d53;
}
h1{
    text-align: center;
    font-family: 'Rock Salt';
    text-shadow: 1px;
    
}

.btn{
    margin: 0 auto;
    
}
.btn2{
    font-size: 14px;
    letter-spacing: 1.5px;
    background: #0e8d94;
    color: black;
    text-decoration: none;
    border-radius: 30px;
    padding-left: 6px;
    padding-right: 6px;
    margin-top: 20px;
    margin-bottom: 200px;
    box-shadow: -6px 8px 7px 1px rgba(0,0,0,0.53);
}
.btn2:hover{
    
    background: #0e8d9475;
     
    color: rgb(0, 0, 0);
    
}
ul {
    text-align: center;
    list-style: none;
}
.iconos{
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto;

}
.iconosimg{
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 35px;
    box-shadow: -6px 8px 7px 1px rgba(0,0,0,0.53);
    border-radius: 130px;
}
p{
    margin-top: 20px;
    text-size-adjust: 30px;
    text-align: center;
    min-height: 200px;
    letter-spacing: 4px;
    background: #434d53;
    margin: 0%;
    font-weight: bold;
}
footer{
    text-align: center;
    background: #0e8d94;
}
}

body{
    
    margin: 0;
    background: #434d53;
    font-family: 'Rock Salt', cursive;

} 
 .escritorio{
        width: auto;
        height: 176vh;
        background: black;
        color: antiquewhite;
        text-align: center;
        font-size: 100px;
        position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  
    }
    
  



footer{
    text-align: center;
    background: #0e8d94;
}
