body{
    margin: 0;
    background: #ffc942;
    color: black;
}
nav{
    
    
}
h1{
    font-family: 'Rock Salt';
    text-align: center;
    text-shadow: 1px;
    font-size: small;
    padding-bottom: 20px;    
}
.bbb{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    
}
.btn{
    margin: 0 auto;
    
}
ul{
    align-items: center;
}
li{
    display: flex;
    justify-content: center;
    padding: 15px;
    font-family: 'Raleway', sans-serif;
}
.btn2{
    display: block;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 1.5px;
    background: #fff;
    color: black;
    text-decoration: none;
    border-radius: 2px;
    width:240px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: -6px 8px 7px 1px rgba(0,0,0,0.53);
      
}
.btn2:hover{
    
    background: #0e8d9475;     
    color: rgb(0, 0, 0);
    
}
ul {
    text-align: center;
    list-style: none;
}
.iconos{
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto;

}
.iconosimg{
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 35px;
    box-shadow: -6px 8px 7px 1px rgba(0,0,0,0.53);
    border-radius: 130px;
}
p{
    text-transform: capitalize;
    font-family: 'Raleway', sans-serif;
    
    text-align: center;
    min-height: 200px;
    margin: 0%;
    font-weight: bold;
    padding: 6px;
}

footer{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: black;
    font-weight: 800;
    padding: 15px;
       
}

hr {
    width: 90%;
    background-color: black;
}
      
.botonesgeneral{
    display: inline;
    justify-content: center;
}
