body {
    margin: 0;
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #bdc1c6;
    background-color: #202124;
}
nav{
    padding-top: 25px;
    display: flex;
    justify-content: right;
}
.navv{
    cursor:pointer;
    text-decoration: none;
    color: #ffffff;
    padding: 6px;
}
.navv:hover{
    text-decoration: underline;
}
.puntos{
    width: 16px;
    height: 16px;
    margin-right: 45px;
    margin-left: 25px;
}
.puntos:hover{
   
    background-color: #00eeff;
    border-radius: 50%;
}
div{
    display: flex;
    justify-content: center;
    padding-top: 15px;
    
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #ffffff;
}
.titulo{
    width: auto;
    height: 92px;
}
.inp{
    text-align: center;
    display: flex;
    z-index: 3;
}
input[type=text] {
    display: flex;
    justify-content: center;
    background: #202124;
    width: 500px;
    height: 37px;
    border-radius: 30px;
    border: 1px solid #5f6368;
    border-color: #bdc1c6;
    transition: width 0.4s ease-in-out;
}
input:hover{
    border:none;
    background: #303134;
}
  /*input[type=text]:focus {
    width: 100%;
  }*/

.botones{
    background-color: #303134;
    border: 1px solid #303134;
    border-radius: 4px;
    color: #e8eaed;
    font-family: arial,sans-serif;
    font-size: 15px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    padding-top: 8px;
    padding-bottom: 8px;
    
}

    /*width:auto;
    height:36px ;
    min-width: 54px;
    background-color: #303134;
    color: #ffffff;
    */
    

.botones:hover{
    
    box-shadow: 0 1px 3px rgb(23 23 23 / 24%);
    background-color: #303134;
    border: 1px solid #5f6368;
    color: #e8eaed;    
}
.voy{
    display: block;
    text-align: -webkit-center;
    padding-top: 35px;  

}
footer{
    background: #171717;
    margin-top: 320px;
}
hr {
    
    width: 99%;
}
a{
    text-decoration: none;
    color: #bdc1c6;
    padding-left: 30px;
}
.flex-contenedor{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: #bdc1c6;
    padding-bottom: 15px;
}
.arg{
  
    justify-content: left;
    border-bottom: 1px solid  #bdc1c6 ;
}
.foot{
    justify-content: space-evenly;
}
goo{
    justify-self: start;
}
.pri{
    padding-left: 200px;
    padding-right: 20px;
    justify-self: end;
}